.root {
    position: relative;

    .input {
        width: 280px;
        height: 35px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        outline: none;
        font-size: 16px;
        padding-left: 40px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;


        &:focus {
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
    }

    .icon {
        opacity: 0.6;
        position: absolute;
        width: 25px;
        height: 25px;
        left: 10px;
        top: 6px;
        color: black;
    }

    .clearIcon {
        position: absolute;
        width: 17px;
        height: 17px;
        opacity: 0.5;
        right: 10px;
        top: 10px;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
}