* {
    margin: 0px;
    margin-right: 0;
    padding: 0px;
    font-family: Roboto, sans-serif;
}

.container {
    width: 1350px;
    margin: 0 auto;
    padding: 0 10px;
}

#root {
    background: #f8f8f8;
}

button:active,
button:focus {
    outline: none !important;
}

button::-moz-focus-inner {
    border: 0 !important;
}


@media (max-width: 1449px) {
    .container {
        width: 1100px;
    }
}

@media (max-width: 1184px) {
    .container {
        width: 900px;
    }

    .navBar__content-cart {
        display: none;
    }

    .cart-conter-wrapper {
        display: block;
    }

    .cart {
        padding: 20px 60px;
    }

    .navBar {
        height: 55px;
    }

}

@media (max-width: 950px) {
    .container {
        width: 700px;
    }

    .fake-header__city {
        justify-content: center;
    }

    .category__bar {
        flex-wrap: wrap;


    }

    .fake-header {

        &__content {
            grid-template-areas: "phone city";
            grid-template-columns: repeat(2, 1fr);
        }

        &__right {
            display: none;
        }
    }

    .cart__bottom-details {
        margin-top: 70px;

        .total-counter {
            text-align: center;
            font-size: 16px;
        }

        .total-price {
            text-align: center;
            font-size: 16px;
        }
    }
}


@media (max-width: 760px) {
    .container {
        width: 570px;
    }

    .navBar__content-navigation {
        display: none;
    }

    .navBar__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .cart {
        padding: 20px 40px;
    }

    .cart__header {
        margin-top: 30px;
    }

    .navBar__content-burger_menu {
        display: flex;
    }
}

@media (max-width: 690px) {
    .footer__social_media {
        display: none;
    }

    .footer__paymant {
        display: none;
    }

    .footer__contacts {
        display: none;
    }

}

@media (max-width: 640px) {
    .container {
        width: 500px;
    }

    .slick-slider {
        display: none;
    }

    .sort__block {
        margin-top: 17px;
    }

    .category__bar {
        margin-top: 30px;
    }

}

@media (max-width: 550px) {
    .container {
        width: 430px;
    }

    .category__bar {
        justify-content: center;
    }


}

@media (max-width: 450px) {
    .container {
        width: 380px;
    }


}

@media (max-width: 409px) {
    .container {
        width: 370px;
    }

    .cart {
        padding: 20px 20px;
    }

}

@media (max-width: 385px) {
    .container {
        width: 330px;
    }


}

@media (max-width: 360px) {
    .container {
        width: 320px;
    }

    .fake-header__phone-number {
        font-size: 18px;
    }
}